fastapi
uvicorn[standard]

sqlalchemy
asyncpg
alembic
pgvector

pydantic
pydantic-settings
python-dotenv

httpx
beautifulsoup4
lxml

openai

python-multipart

pytest
pytest-asyncio

langchain==0.3.27
langchain-core==0.3.74
langchain-openai==0.3.31
langchain_google_genai
google-genai
redis