/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    font-size: var(--body-size);
    font-weight: var(--regular);
    line-height: var(--line-height);
    background-color: var(--surface);
    color: var(--text);
}

/* Media */

img {
    display: block;
    max-width: 100%;
}

/* Form */

button {
    font: inherit;
    cursor: pointer;

    border: none;
    background: none;
}

input,
textarea,
select {
    font: inherit;

    border: none;
    outline: none;
    background: transparent;
}

/* Links */

a {
    color: inherit;
    text-decoration: none;
}

/* Lists */

ul,
ol {
    list-style: none;
}