.container {
    width: min(1120px, 90%);
    margin: 0 auto;
}

.navbar-fixed {

    position: fixed;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: var(--background);
    height: 72px;
    border-bottom: 1px solid var(--border);

}

.navbar-fixed .container {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {

    width: 100%;
    background: var(--background);
    height: 72px;
    border-bottom: 1px solid var(--border);

}

.navbar .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.nav-links{
    display:flex;
    gap:48px;
}

.nav-links a{

    font-size:var(--small-body-size);

    color:var(--text);

    font-weight:var(--medium);
}